<html>
    <head>
        <meta charset="utf-8">
        <title> {{ title }} - Магия Камня </title>

        {% load static %}
        <link href="https://fonts.googleapis.com/css?family=Ruslan+Display" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Cormorant+Infant" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
        {% block extended_css %}{% endblock %}
    </head>
    <body>
        <header>
            {% include "header.html" %}
        </header>

        <main>
            {% block content %}{% endblock %}
        </main>

        <footer>

            <div class="sn-block">
                <div class="sn-header"></div>
                <div class="sn-item">
                    <a href="https://www.instagram.com/ekaterina_piterskayajevel/"><img src="{% static 'images/link-inst-icon.webp'%}" class="sn-item-icon"> Instagram</a>
                </div>
                <div class="sn-item">
                    <a href="https://vk.com/magicstonejewelry"><img src="{% static 'images/link-vk-icon.png' %}" class="sn-item-icon"> ВК</a>
                </div>
                <div class="sn-item">
                    <a href="https://api.whatsapp.com/send?phone=79631229383"><img src="{% static 'images/link-wa-icon.png' %}" class="sn-item-icon"> WhatsApp</a>
                </div>
            </div>
            <div class="footer-text">
                Екатерина Питерская, 2019
            </div>
        </footer>
        {% block extended_js%}{% endblock %}
        <script src="{% static 'js/page_changer.js'%}"></script>
    </body>
</html>