{% extends "base.html" %}

{% block extended_css %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/catalog.css' %}">
{% endblock %}

{% block content %}
    <div class="content-block">
            {% for item in products %}
            <a href="/product/{{ item.product.id }}" class="content-item">
                <img src="{{ item.photo }}" class="content-item-fill">
                <div class="content-item-fill-text">
                    {{ item.product.preview_describe }}
                </div>
            </a>
            {% endfor %}
    </div>

    {% include "page_changer.html" %}

{% endblock %}
