{% extends 'base.html' %}


{% block extended_css %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/my_orders.css' %}">
{% endblock %}


{% block extended_js %}
    {% load static %}
    <script src="{% static 'js/my_orders.js' %}"></script>
{% endblock %}


{% block content %}
    {% load static %}
    <div class="table-header">
        <div class="table-header-actions-block">
            <a href="/my_orders/{{ pages.current }}" class="table-header-action">Все</a>
            <a href="/my_orders/{{ pages.current }}?filter=p" class="table-header-action">В обработке</a>
            <a href="/my_orders/{{ pages.current }}?filter=a" class="table-header-action">Приняты</a>
            <a href="/my_orders/{{ pages.current }}?filter=d" class="table-header-action">Выполнены</a>
            <a href="/my_orders/{{ pages.current }}?filter=c" class="table-header-action">Отменены</a>
        </div>
        <div class="search-order-block">
            <input id="SearchOrderField"type="text" class="search-order-field" placeholder="Введите название">
            <button class="search-order-btn" onclick="search_order();">Поиск</button>
        </div>
    </div>

    {% for item in orders %}
        <div class="order-block">
            <img src="{{ item.product_photo }}" class="order-product-photo">
            <div class="order-product-name-block">
                <div class="order-product-field-header">Название</div>
                {% if item.order.product != None %}
                    {{ item.order.product.name }}
                {% else %}
                    <p style="color: red; font-style: italic;">Товар удален</p>
                {% endif %}
            </div>
            <div class="order-status-block">
                <div class="order-product-field-header">Статус</div>
                {% if item.order.product != None %}
                    {% if item.order.status == "p" %}
                        <img src="{% static 'images/process-icon.png'%}" id="StatusBtn{{ item.id }}" name="status_btn" class="status-icon" onclick="DropDown{{item.id}}.classList.toggle('show')">
                        <span class="status-description-text">(В обработке)</span>
                    {% elif item.order.status == "a" %}
                        <img src="{% static 'images/accept-icon.png'%}" id="StatusBtn{{ item.id }}" name="status_btn" class="status-icon" onclick="DropDown{{item.id}}.classList.toggle('show')">
                        <span class="status-description-text">(Рассмотрен администратором)</span>
                    {% elif item.order.status == "c" %}
                        <img src="{% static 'images/abort-icon.png'%}" id="StatusBtn{{ item.id }}" name="status_btn" class="status-icon" onclick="DropDown{{item.id}}.classList.toggle('show')">
                        <span class="status-description-text">(Отменен)</span>
                    {% elif item.order.status == "d" %}
                        <img src="{% static 'images/done-icon.png'%}" id="StatusBtn{{ item.id }}" name="status_btn" class="status-icon" onclick="DropDown{{item.id}}.classList.toggle('show')">
                        <span class="status-description-text">(Выполнен)</span>
                    {% endif %}
                {% else %}
                    {% if item.order.status == "d" %}
                        <img src="{% static 'images/done-icon.png'%}" class="status-icon">
                        <span class="status-description-text">(Выполнен)</span>
                    {% else %}
                        <img src="{% static 'images/abort-icon.png'%}" class="status-icon">
                        <span class="status-description-text">(Отменен)</span>
                    {% endif %}
                {% endif %}
            </div>
            <div class="order-actions-block">
                <a href="/show_order/{{ item.order.id }}">
                    <img src="{% static 'images/document_icon.png'%}" class="order-action-button">
                    <div class="help-msg">Просмотреть информацию о заказе</div>
                </a>
                {% if item.order.status != "d" and item.order.status != "c" %}
                    <img src="{% static 'images/order-cancel-icon.webp'%}" class="order-action-button" onclick="send_confirmation({{ item.order.id }}, 0)">
                    <div class="help-msg">Отменить заказ</div>
                {% elif item.order.status == "d" %}
                    {% if item.order.customer_status != "d" and item.order.customer_status != "dc" %}
                        <img src="{% static 'images/confirmation-done-icon.png'%}" class="order-action-button" onclick="send_confirmation({{ item.order.id }}, 1)">
                        <div class="help-msg">Подтвердить завершение заказа</div>
                    {% endif %}
                    {% if item.order.customer_status != "dc" %}
                        <img src="{% static 'images/make-comment-icon.webp' %}" class="order-action-button">
                        <div class="help-msg">Оставить отзыв</div>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    {% endfor %}

    {% include "page_changer.html" %}
{% endblock %}

