{% extends 'base.html' %}

{% block extended_css %}
    {% load static %}
    <link href="https://fonts.googleapis.com/css?family=Neucha" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/product.css' %}">
    <link rel="stylesheet" href="{% static 'css/comments.css' %}">
{% endblock %}

{% block content %}
    <div class="alert-block">
        Внимание!<br> Точный повтор украшения невозможен
    </div>
    <div class="product-name-block">
        {{ product.name }}
    </div>

    {% for photos_group in photos_list %}
        <div class="photos-block">
            <center>
                {% for photo in photos_group %}
                    <img src="{{ photo }}" class="photo-container">
                {% endfor %}
            </center>
        </div>
    {% endfor %}

    <div class="price-block">{{ product.price }} рублей</div>

    <div class="info-block">
        {{ product.describe|safe }}
    </div>
    <div class="tags-block">
        Тэги:
        {% for tag in tags %}
            <a href="/search?tags={{ tag }}" class="tag">{{ tag }}</a>
        {% endfor %}
    </div>
    <center>
        <a href="/create_order/{{ product.id }}"><div class="create-order-btn">Оформить заказ</div></a>
    </center>

    <div class="user-comments">
        <div class="comments-header">
            Комментарии:
        </div>
        {% for comment in comments %}
            <div class="comment">
                <a href="/profile/{{ comment.author.user_id }}">
                    <div class="comment-author-block">
                        <img src="{{ comment.author.photo }}" class="comment-author-photo">
                        <div class="comment-author-info">
                           {{ comment.author.user.first_name }}
                        </div>
                    </div>
                </a>
                <div class="comment-content">
                    {{ comment.text }}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
