.content-block{
    width: 1300px;
    margin: 30px;
}

.content-item {
    transition: 0.5s;
    box-shadow: 0 0 5px 2px black;
    width: 350px;
    height: 400px;
    background-color: white;#D1D6D5;
    border-color: aquamarine;#B7EBF1;
    border-width: 3px;
    border-style: solid;
    border-radius: 5px;
    margin: 35px;
    display: inline-block;
    vertical-align: top;
}

.content-item:hover {
    box-shadow: 0 0 40px 2px black;
    transition: 0.2s;
}

.content-item-fill {
    width: 350px;
    height: 400px;
    border-radius: 2px;
    border-width: 0px;
    border-style: solid;
    background-position: -40 0px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('https://pp.userapi.com/c849132/v849132286/e5a39/nQ5Rj3ALilw.jpg');
    text-indent: -99999px;
    text-overflow: hidden;
    color: black;
}

.content-item-fill:hover {
    font-family: 'Cormorant Infant';
    font-size: 14pt;
    font-style: italic;
    width: 338px;
    height: 388px;;
    border-width: 0px;
    margin: 10px;
    background-image: none;
    background-color: white;
    text-indent: 0%;
    text-overflow: clip;
}



