body {
    margin: 0px;
}

.head {
    background-color: #242424;
    height: 50px;
}
.head-text {
    position: absolute;
    font-family: 'Cormorant Infant';
    color: white;
    left: 15px;
    top: 10px;
    font-style: italic;
    font-size: 24px;
}

.head-image {
height: 350px;
background-image: url("https://avatars.mds.yandex.net/get-zen_doc/40456/pub_5b40ce8f8bcd5700a977161d_5b40cec98a640900a9287b07/scale_600");
background-size: cover;
background-position: 0 -250px;
}

.header-text {
    position: relative;
    font-size: 36pt;
    color: white;
    filter: none;
    left: 30px;
    top: 50px;
}


main {
    margin-top: 80px;
}

.menu {
    margin-left: 30px;
}

.menu-buttons {
    display: inline-block;
    margin: 15px;
    color: white;
}

.menu-buttons:hover {
    color: aquamarine;
    }

a {
    text-decoration: none;
}


footer {
    margin-top: 80px;
    min-height: 50px;
    padding: 20px;
    background-color: #242424;
}

.footer-text {
    color: white;
    text-align: center;
    font-size: 14px;
    margin-top: 50px;
}

.profile-img {
    width: 30px;
    height: 30px;
    border-radius: 15%;
    background-color: gray;
    background-size: cover;
    background-image: url('/media/default.png');
    top: 10px;
    right: 10px;
    position: absolute;
}
.profile {
    position: absolute;
    right: 80px;
}

.profile-items {
    display: inline-block;
    position: relative;
    top: 0px;
    color: white;
  }

.error-msg {
    color: red;
}


.settings-button {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    transition: 0.5s;
}

.control-panel-button {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    transition: 0.5s;
}

.settings-button:hover, .control-panel-button:hover {
    transition: 0.25s;
    transform: scale(1.2);
}


.change-page-block {
    margin-top: 50px;
}

.change-page-next, .change-page-prev {
    width: 25px;
    height: 25px;
    background-size: contain;
    transition: 0.5s;
    display: inline-block;
}

.change-page-next:hover, .change-page-prev:hover {
    transform: scale(1.2);
    transition: 0.25s;
}

.change-page-prev {
    transform: rotate(180deg);
}

.change-page-prev:hover {
    transform: scale(1.2) rotate(180deg);
    transition: 0.25s;
}

.page-changer {
    width: 40px;
    height: 25px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid gray;
    display: inline-block;
    vertical-align: top;
    margin: 0 10 0 10px;
}

.page-changer:focus {
    border: 1px solid aquamarine;
}

.profile-dropdown {
    position: relative;
    display: inline-block;
}


.profile-dropdown-content {
    visibility: hidden;
    transition: 0s;
    width: 50px;
    padding: 10px;
    position: absolute;
    top: 25px;
    right: -10px;
    border-radius: 5px;
    background-color: red;
    background-color: #f1f1f1;
    z-index: 1;
    border: 1px solid gray;

}

.show {
    width: 200px;
    transition: 1s;
    visibility: visible;
    top: 45px;
}

.show>.profile-dropdown-content-item {
    transition: 0.5s;
}

.profile-dropdown-content-item {
    color: black;
    font-family: "Arial";
    font-size: 12pt;
    font-weight: bold;
    font-style: italic;
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;
    margin-bottom: 10px;
    text-align: center;
    padding: 5px;
    transition: 0s;
    border-radius: 3px;
}


.profile-dropdown-content-item:hover {
    color: aquamarine;
    transition: 0.25s;
    transform: scale(1.05);
}

.sn-block {
    max-width: 300px;
    margin-top: 30px;
}

.sn-header {
    color: white;
    font-family: 'Arial';
    font-weight: bold;
    font-style: italic;
    font-size: 14pt;
    margin-bottom: 20px;
}

.sn-item {
    vertical-align: top;
    margin-left: 10px;
    margin-bottom: 10px;
    display: block;
}

.sn-item>a {
    color: white;
    font-style: italic;
    font-size: 10pt;
    font-weight: bold;
    font-family: "Times New Roman";
    transition: 2s;
}


.sn-item-icon {
    width: 25px;
    height: 25px;
    border-radius: 5px;
    background-size: contain;
    vertical-align: middle;
    margin-right: 5px;
    transform: rotate(0deg);
    transition: 2s;
}

.sn-item:hover>a>.sn-item-icon {
    transition: 1s;
    transform: rotate(360deg) scale(1.3);
    margin-right: 10px;
}

.sn-item:hover>a {
    font-size: 12pt;
}

