{% extends 'base.html' %}


{% block extended_css %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/admin/products_panel.css' %}">
{% endblock %}


{% block extended_js %}
    {% load static %}
    <script src="{% static 'js/admin/products_panel.js' %}"></script>
{% endblock %}


{% block content %}
    {% load static %}
    <div class="actions-panel">
        {% if admin_profile.can_create_products %}
            <a href="/create_product"><img src="{% static '/images/add_btn.png' %}" class="product-add-button"></a>
        {% endif %}
        <div class="search-product-block">
            <input id="SearchProductField"type="text" class="search-product-field" placeholder="Введите название">
            <button class="search-product-btn" onclick="search_product();">Поиск</button>
        </div>
    </div>

    {% for item in products %}
        <div class="product-block">
            <img src="{{ item.photo }}" class="product-photo">
            <div class="product-name-block">
                <div class="product-field-header">Название</div>
                {{ item.product.name }}
            </div>
            <div class="product-sold-block">
                <div class="product-field-header">Заказано</div>
                {{ item.sold }}
            </div>
            <div class="product-actions-block">
                {% if admin_profile.can_distribute_products %}
                    {% if item.product.is_distributing %}
                        <a href="/products_panel/{{ pages.current }}?distribute=0,{{ item.product.id }}"><img src="{% static 'images/distribute-denied.jpg'%}" class="product-distribute-button"></a>
                    {% else %}
                        <a href="/products_panel/{{ pages.current }}?distribute=1,{{ item.product.id }}"><img src="{% static 'images/distribute_allow.png'%}" class="product-distribute-button"></a>
                    {% endif %}
                {% endif %}
                {% if admin_profile.can_edit_products %}
                    <a href="/edit_product/{{ item.product.id }}"><img src="{% static 'images/edit.png'%}" class="product-edit-button"></a>
                {% endif %}
                {% if admin_profile.can_remove_products %}
                    <a href="/products_panel/{{ pages.current }}?delete={{ item.product.id }}"><img src="{% static 'images/abort-icon.png'%}" class="product-delete-button"></a>
                {% endif %}
            </div>
        </div>
    {% endfor %}

    {% include "page_changer.html" %}
{% endblock %}

