.table-header {
    position: relative;
    margin: 0 20 0 20px;
    height: 40px;
    background-color: black;
    border-radius: 5px;
}

.table-header-actions-block {
    position: absolute;
    left: 20px;
    width: 500px;
}

.table-header-action {
    color: black;
    background-color: white;
    height: 16px;
    border: 2px solid black;
    border-radius: 5px;
    padding: 3 10px;
    display: inline-block;
    margin-right: 10px;
    margin-top: 7px;
    font-size: 12pt;
    font-family: 'Arial';
    transition: 0.5s;
}

.table-header-action:hover {
    color: aquamarine;
    transition: 0.3s;
    transform: scale(1.1);
}

.search-comment-block {
    position: absolute;
    right: 20px;
    top: 10px;
}

.search-comment-field {
    border: 1px solid gray;
    border-radius: 2px;
    transition: 1s;
    padding: 3 5px;
    margin-right: 10px;
}

.search-comment-field:focus {
    border: 2px solid aquamarine;
    transition: 0.5s;
}

.search-comment-btn {
    background-color: white;
    border: 1px solid black;
    border-radius: 2px;
    font-family: 'Arial';
    font-weight: bold;
    transition: 0.5s;
}

.search-comment-btn:hover {
    transition: 0.3s;
    transform: scale(1.1);
    border-color: aquamarine;
}


